:root {
    --titlebar-top:  4px;
    --icon-top: 0.5px;
    --watermark-top: 5.5px;
    --watermark-text: "Quack";
    --icon-img: url("https://icon-library.com/images/duck-icon/duck-icon-20.jpg");
}