/**
* @name DX Dark
* @author Erwin#4048
* @description Dark Theme for Discord.
* @version 1.4
*/

@import "https://github.com/Erwin-afk/quack-discord-theme/blob/main/quack.theme.css";

:root {

    --scrollbars: none;
    --public-servers: none;
    --bar-background-primary: transparent !important;
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);

    --avatar-radius: 0px;  

    --status-radius: 10px; 

    --server-radius: 10px;


    --font-normal: 500;

    --rs-online-color: #00ff8c;
    --rs-idle-color: #ffa200;
    --rs-dnd-color: #ff0000;
    --rs-offline-color: #3b3b3b;
    --rs-streaming-color: #5d00ff;
    --rs-invisible-color: #ffffff;
    --rs-phone-color: var(--rs-online-color);
    --rs-phone-visible: none;

    --avatar-radius: 2px;  
    --mention-color: #c54242;
    --status-radius: 180px; 
    --colored-emoji: grayscale(0%);
    --server-radius: 5px;
}

.theme-dark {

    --discord-logo: none;

    --titlebar-top:  4px;
    --icon-top: 0.5px;
    --watermark-top: 5.5px;
    --icon-img: url("https://i.imgur.com/BlVTpku.png");
    --watermark-text: "Discord DX";
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);

    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: transparent;
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);
    --text-normal: #d8d8d8;

}

.theme-light {

    --discord-logo: none;

    --titlebar-top:  4px;
    --icon-top: 0.5px;
    --watermark-top: 5.5px;
    --icon-img: url("https://i.imgur.com/BlVTpku.png");
    --watermark-text: "Discord DX";
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);
    --background-primary: rgb(231, 231, 231);
    --background-secondary: rgb(231, 231, 231);
    --background-secondary-alt: rgb(231, 231, 231);
    --background-tertiary: rgb(231, 231, 231);
    --background-accent: rgb(231, 231, 231);
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);
    --text-normal: #272727;

}