/**
* @name DX Dark
* @author Erwin#4048
* @description Clean theme for discord.
* @version 0.4
*/
@import "https://nyri4.github.io/Comfy/betterdiscord/main.css";
@import "https://nyri4.github.io/Comfy/betterdiscord/no-scrollbar.css";
@import "https://github.com/Erwin-afk/quack-discord-theme/blob/main/quack.theme.css";

:root {

    --avatar-radius: 0px;  

    /* Status - Default value : 3px */
    --status-radius: 0px; 

    /* Servers - Default value : 8px */
    --server-radius: 0px;

    --discord-logo: none;


    --status-background: url('https://i.imgur.com/ODa8LKK.jpg');


    --font-normal: 500;

    --rs-online-color: #00ff8c;
    --rs-idle-color: #ffa200;
    --rs-dnd-color: #ff0000;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #5d00ff;
    --rs-invisible-color: #747f8d;
    --rs-phone-color: var(--rs-online-color);
    --rs-phone-visible: block;

    --avatar-radius: 2px;  
    --mention-color: #c54242;
    --status-radius: 180px; 
    --colored-emoji: grayscale(0%);
    --server-radius: 5px;
}

.theme-dark {
    --titlebar-top:  4px;
    --icon-top: 0.5px;
    --watermark-top: 5.5px;
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);
    --watermark-text: "Discord DX";
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: transparent;
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);
    --text-normal: #d8d8d8;

}

.theme-light {
    --titlebar-top:  4px;
    --icon-top: 0.5px;
    --watermark-top: 5.5px;
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);
    --watermark-text: "Discord LX";
    --background-primary: rgb(231, 231, 231);
    --background-secondary: rgb(231, 231, 231);
    --background-secondary-alt: rgb(231, 231, 231);
    --background-tertiary: rgb(231, 231, 231);
    --background-accent: rgb(231, 231, 231);
    --home-icon: url(https://i.imgur.com/Bda0DuK.png);
    --text-normal: #272727;

}